@import "../../../common/styles/scss/variables";

.main {
  min-height: 100vh;
  background-color: $mainBgColor;
  padding-top: 70px;

  .text {

    color: $mainTextColor;
    width: 400px;

    h1{
      font-family: $secondaryFontFamily;
      font-size: 38px;
    }

    span {
      font-size: 18px;
      color: $secondaryTextColor;
    }

    p {
      font-size: 20px;
      color: $secondaryTextColor;
    }
  }

  .photo {
    background-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    width: 400px;
    height: auto;

    img {
      height: auto;
      width: 100%;
      max-width: 720px;
    }
  }



  @media screen and (max-width: 1017px) {
    .text {
      margin-bottom: 30px;
    }
    .container {
      justify-content: center;
    }

  }
}

