.variableBlock {
    width: 100%;
    background-color: #8ddeb6;
    padding-top: 40px;
    padding-bottom: 40px;
}

.variableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.variableBlockButton {
    margin-top: 20px;
    width: 130px;
    height: 45px;
}
