@import "../../../common/styles/scss/variables";

.aboutMeBlock {
  width: 100%;
  background-color: $secondaryBgColor;

  .progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}