.formBlock {
    width: 100%;
    background-color: #ea6363;
    padding-top: 40px;
    padding-bottom: 40px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    min-height: 250px;
    margin-bottom: 20px;
}

.input {
    width: 50%;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

.input:focus {
    outline: none;
}

.area {
    width: 50%;
    min-width: 250px;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    border: 1px solid black;
}

.area:focus {
    outline: none;
}

.formBlockButton {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}