@import "../../../common/styles/scss/variables";

.projectsBlock {
    width: 100%;
    background-color: $mainBgColor;

    .projectsContainer {
        display: flex;
        flex-direction: column;
    }

    .projects {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    @media screen and (max-width: 1270px) {
        .projects {
            justify-content: center;
        }
    }
}




