@import "../../../../common/styles/scss/variables";

.skill {
    background-color: $secondaryBgColor;
    width: 240px;
    min-height: 220px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    padding: 25px;

    &:hover {
        .icon {
            color: $otherBhColor;
        }

        box-shadow: 0 0 ;
    }

    .icon {
        transition: all .4s ease 0s;
        width: 50px;
        height: 50px;
        color: white;
    }

    h3 {
        color: $mainTextColor;
        font-size: 20px;
        font-family: $secondaryFontFamily;
        line-height: 1.3;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width: 1220px){
    .skill {
        width: 45%;
    }
}

@media screen and (max-width: 720px){
    .skill {
        width: 100%;
    }
}

