@import "../../../common/styles/scss/variables";

.head {
  text-align: center;
  margin-bottom: 45px;

  .subTitle {
    font-size: 16px;
    font-weight: 600;
    color: $secondaryTextColor;
    line-height: 26px;
    display: block;
  }

  .title {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 30px;
    font-weight: 700;
    color: $mainTextColor;
    position: relative;
    font-family: $secondaryTextColor;

    &:before {
      content: '';
      position: absolute;
      background-color: $otherBhColor;
      width: 75px;
      height: 2px;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  p {
    font-size: 18px;
    color: $secondaryTextColor;
    max-width: 720px;
    margin: 0 auto;
  }
}