@import "../../../common/styles/scss/variables";

.progressBlock {
  background-color: $secondaryBgColor;
  width: 100%;

  .progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .progressItems {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .progressItem {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-right: 25px;
        margin-bottom: 35px;

        .progressBar {
          width: 100%;
          background-color: #3b3b3b;
          border-radius: 5px;
          margin-bottom: 5px;

          .progress {
            background-color: $otherBhColor;
            height: 5px;
            border-radius: 5px;
          }
        }

        .progressDescription {
          display: flex;
          justify-content: space-between;

          span {
            font-size: 16px;
            color: #fff;
            margin-top: 13px;
            clear: both;
            font-weight: 700;
          }
        }
      }
      @media screen and (max-width: 1000px) {
        .progressItem {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .progressItems {
        flex-direction: column;
      }
    }
  }
}