$mainTextColor: #fff;
$secondaryTextColor: #d0d0d0;
$otherTextColor: #4e93e6;

$mainBgColor: #202020;
$secondaryBgColor: #2b2b2b;
$otherBhColor: #4e93e6;

$secondaryFontFamily: "Montserrat", sans-serif;