@import "../../../common/styles/scss/variables";

.formBlock {
    width: 100%;
    background-color: $secondaryBgColor;

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .contactsBlock {
            width: 100%;
            display: flex;
            min-height: 450px;
            justify-content: space-between;
            background-color: $mainBgColor;
            box-sizing: border-box;
            padding: 40px 40px;
            border-radius: 10px;

            .form {
                display: flex;
                flex-direction: column;
                width: 55%;
                align-items: center;
                justify-content: space-around;
                min-height: 370px;
                border-right: 1px solid white;

                .input {
                    box-sizing: border-box;
                    width: 80%;
                    min-width: 220px;
                    padding: 0 20px;
                    border-radius: 25px;
                    height: 45px;
                    border: 1px solid #3a3939;
                    background-color: transparent;
                    color: #fff;

                    &:focus {
                        outline: none;
                        border-color: $otherBhColor;
                    }
                }

                .area {
                    width: 80%;
                    min-width: 220px;
                    box-sizing: border-box;
                    min-height: 120px;
                    padding: 20px 20px;
                    resize: none;

                    border-radius: 25px;
                    height: 45px;
                    border: 1px solid #3a3939;
                    background-color: transparent;
                    color: #fff;

                    &:focus {
                        outline: none;
                        border-color: $otherBhColor;
                    }
                }

                .formBlockButton {
                    width: 200px;
                    height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 16px;
                    color: #fff;
                    text-transform: uppercase;
                    border: none;
                    -webkit-transition: all 0.3s ease-in;
                    -moz-transition: all 0.3s ease-in;
                    -o-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;
                    cursor: pointer;

                    background-color: #313335;
                    line-height: 45px;
                    border-radius: 30px;


                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }

            .contactsInfo {
                width: 35%;
                display: flex;
                flex-direction: column;

                .contactsInfoItem {
                    width: 90%;
                    min-width: 200px;
                    border-bottom: 1px solid $otherBhColor;
                    padding-bottom: 15px;

                    h4 {
                        text-align: left;
                        font-size: 16px;
                        font-weight: bold;
                        color: $mainTextColor;
                        font-family: "Montserrat", sans-serif;
                    }

                    span {
                        display: block;
                        text-align: left;
                    }
                }
            }
        }

        @media screen and (max-width: 900px){
            .contactsBlock {
                flex-direction: column;
                align-items: center;
                padding: 30px 30px;

                .form {
                    border-right: 0;
                    width: 90%;
                }

                .contactsInfo {
                    max-width: 500px;
                    padding: 25px 0;
                    width: 100%;

                    .contactsInfoItem {
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (max-width: 450px){
            .contactsBlock {
                padding: 10px 10px;

                .form {
                    border-right: 0;
                    width: 100%;
                }
            }
        }
    }
}