.navBar {
    width: 500px;
    height: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        color: #d0d0d0;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        position: relative;

        &:after {
            content: '';
            height: 2px;
            top: 100%;
            left: 0;
            width: 0;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out 0s;
        }

        &:hover {
            &:after {
                width: 100%;
                transition: all 0.3s ease-in-out 0s;
            }
            color: white;
        }
    }

    .active {
        color: white;
        &:after {
            content: '';
            height: 2px;
            top: 100%;
            left: 0;
            width: 0;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out 0s;
        }

        &:after {
            content: '';
            height: 2px;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            position: absolute;
            transition: all 0.3s ease-in-out 0s;
        }
    }
}

