.footer {
    background-color: #202020;
    padding-top: 30px;
    padding-bottom: 30px;

    .footerContainer {
        flex-direction: column;
        padding: 50px 0;

        .footerItems {
            width: 40%;
            min-width: 250px;
            display: flex;
            justify-content: space-between;
        }
    }
}



